@include font('Montserrat', 'Montserrat-Thin', 100, normal);
@include font('Montserrat', 'Montserrat-Light', 300, normal);
@include font('Montserrat', 'Montserrat-Regular', 400, normal);
@include font('Montserrat', 'Montserrat-Medium', 500, normal);
@include font('Montserrat', 'Montserrat-Semibold', 600, normal);
@include font('Montserrat', 'Montserrat-Bold', 700, normal);
@include font('Montserrat', 'Montserrat-Black', 900, normal);
@include font('RussoOne', 'RussoOne-Regular', 400, normal);
