.block {
	display: block;
}

.flex {
	display: flex;
}

.hidden-word {
	margin: 0 5px;
	@include lg-screen {
		display: none;
	}
}

.none,
.is-hidden {
	display: none;
}

.flex-aic {
	display: flex;
	align-items: center;
}

.flex-jcsb {
	justify-content: space-between;
}

b {
	font-weight: 500;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -$halfGap;
	margin-right: -$halfGap;
}

.col {
	padding-left: $halfGap;
	padding-right: $halfGap;
}

.text-center {
	text-align: center;
}

.nowrap {
	white-space: nowrap;
}

.scroll-locked {
	overflow: hidden;
}

//.link {
//	position: relative;
//	@media (hover: hover) and (pointer: fine) {
//		&:before {
//			content: "";
//			position: absolute;
//			left: 0;
//			bottom: 0;
//			width: 100%;
//			height: 1px;
//			background: currentColor;
//			transform: scaleX(0);
//			opacity: .6;
//			transform-origin: right;
//			transition: transform .7s cubic-bezier(.19,1,.22,1) .2s;
//		}
//
//		&:hover::before {
//			transform: scaleX(1);
//			transform-origin: left;
//		}
//	}
//}

.shadow {
	&-2 {
		box-shadow: 0 1px 1px rgba(0,0,0,0.12),
		0 2px 2px rgba(0,0,0,0.12);
	}

	&-3 {
		box-shadow: 0 1px 1px rgba(0,0,0,0.12),
		0 2px 2px rgba(0,0,0,0.12),
		0 4px 4px rgba(0,0,0,0.12);
	}

	&-4 {
		box-shadow: 0 1px 1px rgba(0,0,0,0.12),
		0 2px 2px rgba(0,0,0,0.12),
		0 4px 4px rgba(0,0,0,0.12),
		0 8px 8px rgba(0,0,0,0.12)
	}

	&-5 {
		box-shadow: 0 1px 1px rgba(0,0,0,0.12),
		0 2px 2px rgba(0,0,0,0.12),
		0 4px 4px rgba(0,0,0,0.12),
		0 8px 8px rgba(0,0,0,0.12),
		0 16px 16px rgba(0,0,0,0.12)
	}
}

@include xl-screen {
	.xl-block {
		display: block;
	}

	.xl-flex {
		display: flex;
	}

	.xl-none {
		display: none;
	}

	.xl-text-center {
		text-align: center;
	}
}

@include lg-screen {
	.lg-block {
		display: block;
	}

	.lg-flex {
		display: flex;
	}

	.lg-inline-flex {
		display: inline-flex;
	}

	.lg-none {
		display: none;
	}
}

@include md-screen {
	.md-block {
		display: block;
	}

	.md-flex {
		display: flex;
	}

	.md-none {
		display: none;
	}
}

@include sm-screen {
	.sm-block {
		display: block;
	}

	.sm-flex {
		display: flex;
	}

	.sm-none {
		display: none;
	}
}
