// LIBS
// @import 'normalize.css/normalize';
//@import 'swiper/src/swiper';
//@import 'nouislider/dist/nouislider';

// VARIABLES AND MIXINS
@import './base/variables';
@import './base/mixins';

// DEFAULTS
@import './base/fonts';
@import './base/normalize';
@import './generated/sprite-svg';
@import './base/common';
@import './base/typography';

//libs
//@import './libs/fancybox';


@import "./ui/ui-btn";

// BLOCKS
@import "./blocks/header";
@import "./blocks/footer";
@import "./blocks/hero";
@import "./blocks/sections";
@import "./blocks/category";
@import "./blocks/why";
@import "./blocks/types";
@import "./blocks/section-about";
@import "./blocks/section-video";
@import "./blocks/video";
@import "./blocks/section-price";
@import "./blocks/section-steps";
@import "./blocks/section-portfolio";
@import "./blocks/section-contacts";
@import "./blocks/map";
@import "./blocks/footer";
@import "./blocks/order";
@import "./blocks/catalog";
@import "./blocks/filter";
@import "./blocks/breadcrumbs";
@import "./blocks/portfolio";
@import "./blocks/sales";
@import "./blocks/about";

//swiper
@import 'node_modules/swiper/swiper';
@import 'node_modules/swiper/modules/pagination/pagination';
@import 'node_modules/swiper/modules/scrollbar/scrollbar';
@import 'node_modules/swiper/modules/free-mode/free-mode';
@import 'node_modules/swiper/modules/mousewheel/mousewheel';

// HELPERS
@import './base/helpers';
@import './base/loader';





