{% set index = false %}
{% set title = "О компании" %}

{% extends "layouts/_layout.twig" %}

{% block content %}

<section class="section section-about md-visible">
        <div class="container">
            <h2 class="section__title">
                О нас
            </h2>

            <div class="section-about__wrap">
                <div class="section-about__col">
                    <h3 class="section-about__title">
                        На рынке с 20** года
                    </h3>
                    <div class="section-about__text">
                        Мы верим в связанные места, которые объединяют наши миры посредством дизайна и делают наши переходы от одного места до другого бесшовными, интересными и приятными.
                    </div>
                    <div class="section-about__text">
                        Наша компания всегда следует курсу развития.<br/>
                        Именно поэтому мы открыли свою собственную студию<br/>
                        дизайна, в которой работают настоящие мастера своего дела.
                    </div>

                    <div class="section-about__grid">
                        <div class="section-about__item">
                            <div class="section-about__item-num">01</div>
                            <div class="section-about__item-text">
                                Срок изготовления, в среднем,&nbsp;занимает 15 дней с момента согласования <br/>проекта
                            </div>
                        </div>
                        <div class="section-about__item">
                            <div class="section-about__item-num">02</div>
                            <div class="section-about__item-text">
                                Наши дизайнеры имеют огромный опыт проектирования мебели и  специализированное образование
                            </div>
                        </div>
                        <div class="section-about__item">
                            <div class="section-about__item-num">03</div>
                            <div class="section-about__item-text">
                                Мебель изготавливается на собственной фабрике на самых современных высокоточных станках.
                            </div>
                        </div>
                        <div class="section-about__item">
                            <div class="section-about__item-num">04</div>
                            <div class="section-about__item-text">
                                Более 1000+ семей уже исполнили свою мечту
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-about__img">
                    <picture>
                        <source data-srcset="./img/section-about.webp" />
                        <img class="lazy" data-src="./img/section-about.jpg" alt="" />
                    </picture>
                </div>
            </div>
        </div>
    </section>
<section class="about">
    <div class="container">
        <div class="about__head md-hide">
            <div class="about__head-column">
                <h1 class="section__title">
                    О компании
                </h1>

                <div class="flex-sb">
                    <div class="about__head-item">
                        <div class="about__head-title">
                            15 лет
                        </div>
                        <div class="about__head-text">
                            на рынке России
                        </div>
                    </div>
                    <div class="about__head-item">
                        <div class="about__head-title">
                            120 видов
                        </div>
                        <div class="about__head-text">
                            мебельной продукции
                        </div>
                    </div>
                    <div class="about__head-item">
                        <div class="about__head-title">
                            1000+
                        </div>
                        <div class="about__head-text">
                            довольных клиентов
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__head-col-text">
                <p>
                    Мы верим в связанные места, которые объединяют наши миры посредством дизайна и делают наши переходы от одного места до другого бесшовными, интересными и приятными.
                </p>

                <p>
                    Наша компания всегда следует курсу развития.
                    Именно поэтому мы открыли свою собственную студию
                    дизайна, в которой работают настоящие мастера своего дела.
                </p>
            </div>
        </div>
        <div class="about__img">
            <picture>
                <source srcset="./img/about.webp" />
                <img src="./img/about.jpg" alt="" />
            </picture>
        </div>
        <div class="team">
            <h2 class="section__title">
                Наша команда
            </h2>

            <div class="team-grid">

                {% for item in range(0, 10) %}
                    <div class="team-item">
                        <div class="team-item__img">
                            <picture>
                                <source srcset="./img/team.webp" />
                                <img src="./img/team.jpg" alt="" />
                            </picture>
                        </div>

                        <div class="team-item__name">
                            Иванов Сергей
                        </div>

                        <div class="team-item__worker">
                            Технолог
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
<section class="section why">
        <div class="container">
            <div class="why-wrap">
                <div class="why-col">
                    <h2 class="section__title">
                        Почему вы<br/>
                        закажете у нас
                    </h2>
                    <div class="why-grid">
                        <div class="why-item">
                            <div class="why-item__title">Комфорт и удобсвто</div>
                            <div class="why-item__text">Наша мебель отвечает всем
                                анатомическим особенностям</div>
                        </div>
                        <div class="why-item">
                            <div class="why-item__title">Стиль и дизайн</div>
                            <div class="why-item__text">Разнообразный модельный ряд
                                ориентированный на любой вкус</div>
                        </div>
                        <div class="why-item">
                            <div class="why-item__title">Высокое качество</div>
                            <div class="why-item__text">Качество мебели подтверждается
                                официальными сертификатами</div>
                        </div>
                        <div class="why-item">
                            <div class="why-item__title">Гарантия</div>
                            <div class="why-item__text">На всю мебель мы даем
                                гарантию минимум на 18 месяцев</div>
                        </div>
                    </div>
                </div>
                <div class="why-img">
                    <picture>
                        <source data-srcset="./img/why.webp" />
                        <img data-src="./img/why.jpg" alt="" class="lazy" />
                    </picture>
                </div>
            </div>
        </div>
    </section>

{% endblock %}