{% set index = false %}
{% set title = "Каталог" %}

{% extends "layouts/_layout.twig" %}

{% set breadcrubms = [
    {name: 'Мебель на заказ'},
    {name: 'Кухни'}
] %}

{% block content %}

<section class="catalog">
    {% include './partials/_breadcrubms.twig' %}

    <div class="container">
        <h1 class="section__title">
            Выберите Вашу кухню
        </h1>

        <ul class="filter">
           <li class="filter__item is-active">
               <a href="#" class="filter__link">
                   Все
               </a>
           </li>
           <li class="filter__item">
               <a href="#" class="filter__link">
                   Классика
               </a>
           </li>
           <li class="filter__item">
               <a href="#" class="filter__link">
                   Неоклассика
               </a>
           </li>
           <li class="filter__item">
               <a href="#" class="filter__link">
                   Модерн
               </a>
           </li>
        </ul>

        <div class="catalog-grid">
            <a href="#" class="catalog-item">
                <div class="catalog-item__img">
                    <picture>
                        <source srcset="./img/catalog-1.webp" />
                        <img src="./img/catalog-1.jpg" alt="" />
                    </picture>
                </div>
                <div class="catalog-item__bottom">
                    <div class="catalog-item__name">
                        Арко
                    </div>
                    <div class="catalog-item__price">
                        от 70.000 ₽
                    </div>
                </div>
            </a>
            <a href="#" class="catalog-item">
                <div class="catalog-item__img">
                    <picture>
                        <source srcset="./img/catalog-2.webp" />
                        <img src="./img/catalog-2.jpg" alt="" />
                    </picture>
                </div>
                <div class="catalog-item__bottom">
                    <div class="catalog-item__name">
                        Бристоль
                    </div>
                    <div class="catalog-item__price">
                        от 70.000 ₽
                    </div>
                </div>
            </a>
            {% for item in range(0, 14) %}
                <a href="#" class="catalog-item">
                    <div class="catalog-item__img">
                        <picture>
                            <source srcset="./img/catalog-1.webp" />
                            <img src="./img/catalog-1.jpg" alt="" />
                        </picture>
                    </div>
                    <div class="catalog-item__bottom">
                        <div class="catalog-item__name">
                            Арко
                        </div>
                        <div class="catalog-item__price">
                            от 70.000 ₽
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}