{% set index = false %}
{% set title = "Акции" %}

{% extends "layouts/_layout.twig" %}

{% block content %}

<section class="section sales">
    <div class="container">
        <h1 class="section__title">
            Акции
        </h1>

        <div class="sales-grid">
            <a href="/sales-detail" class="sales-item sales-item--1">
                {{ mixins.icon('photo') }}
                <picture>
                    <source srcset="" />
                    <img src="" alt="">
                </picture>
            </a>
            <a href="/sales-detail" class="sales-item sales-item--2">
                {{ mixins.icon('photo') }}
                <picture>
                    <source srcset="" />
                    <img src="" alt="">
                </picture>
            </a>
            <a href="/sales-detail" class="sales-item sales-item--3">
                {{ mixins.icon('photo') }}
                <picture>
                    <source srcset="" />
                    <img src="" alt="">
                </picture>
            </a>
            <a href="/sales-detail" class="sales-item sales-item--4">
                {{ mixins.icon('photo') }}
                <picture>
                    <source srcset="" />
                    <img src="" alt="">
                </picture>
            </a>
        </div>
    </div>
</section>

{% endblock %}