<div class="breadcrubms">
    <div class="container">
        <ul class="breadcrubms-list">
            {% for item in breadcrubms %}
                <li class="breadcrubms-item">
                    <a href="#">
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>