<!-- start footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-col">
                <ul>
                    <li>
                        <a href="#">ГЛАВНАЯ</a>
                    </li>
                    <li>
                        <a href="#">МЕБЕЛЬ НА ЗАКАЗ</a>
                    </li>
                    <li>
                        <a href="#">КУХНИ</a>
                    </li>
                    <li>
                        <a href="#">ФАСАДЫ</a>
                    </li>
                    <li>
                        <a href="#">НАШИ РАБОТЫ</a>
                    </li>
                    <li>
                        <a href="#">О НАС</a>
                    </li>
                    <li>
                        <a href="#">КОНТАКТЫ</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <li>
                        <a href="#">КУХНЯ</a>
                    </li>
                    <li>
                        <a href="#">МЕБЕЛЬ ДЛЯ ВАННОЙ</a>
                    </li>
                    <li>
                        <a href="#">ФАСАДЫ</a>
                    </li>
                    <li>
                        <a href="#">ШКАФЫ</a>
                    </li>
                    <li>
                        <a href="#">СТЕНОВЫЕ ПАНЕЛИ</a>
                    </li>
                    <li>
                        <a href="#">МЕЖКОМНАТНЫЕ ДВЕРИ</a>
                    </li>
                    <li>
                        <a href="#">ТУМБЫ И КОНСОЛИ</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col">
                <ul>
                    <li>
                        <a href="#">ГАРДЕРОБНАЯ</a>
                    </li>
                    <li>
                        <a href="#">ПРИХОЖАЯ</a>
                    </li>
                    <li>
                        <a href="#">СТОЛЫ</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="logo footer__logo">
                {{ mixins.icon('logo') }}
            </div>

            <div class="copyright">
                Все права защищены
            </div>
        </div>
    </div>
</footer>
<!-- end footer -->
