{% set nav = [
  {link: 'Главная'},
  {link: 'Мебель на заказ'},
  {link: 'Кухни'},
  {link: 'Фасады'},
  {link: 'Наши работы'},
  {link: 'Клиентам'},
  {link: 'О нас'},
  {link: 'Контакты'}
] %}

<!-- start header -->
<header class="header">
  <div class="container header__container">
    <div class="logo header__logo">
      {{ mixins.icon('logo') }}
    </div>

    <nav class="header__nav">
      <ul class="header__nav-list">
        {% for item in nav %}
          {% if item.link === 'Клиентам' %}
            <li class="header__nav-item flex-fe popover-open">
              <a href="#" class="header__nav-link">
                {{ item.link }}
              </a>
              <span class="chevron-down"></span>
              <div class="popover">
                <ul class="popover-list">
                  <li class="popover-list__item">
                    <a href="#">О компании</a>
                  </li>
                  <li class="popover-list__item">
                    <a href="#">Акции</a>
                  </li>
                  <li class="popover-list__item">
                    <a href="#">Сотрудничество</a>
                  </li>
                </ul>
              </div>
            </li>
          {% else%}
            <li class="header__nav-item">
              <a href="#" class="header__nav-link">
                {{ item.link }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <a href="tel:+79371403815" class="header__phone">+7 937 140 38 15</a>
  </div>
</header>
<!-- end header -->