.breadcrubms {
  margin-bottom: 10px;

  &-list {
    display: flex;
  }

  &-item {
    position: relative;
    margin-right: 24px;

    a {
      text-transform: uppercase;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.3);
    }

    &:not(:first-child) {
      &::before {
        content: '';
        position: absolute;
        @include centerer-y;
        left: -12px;
        display: block;
        width: 4px;
        height: 4px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
      }
    }
  }
}