.filter {
  $color: rgba(0, 0, 0, 0.7);
  display: flex;
  margin-top: 24px;
  color: $color;

  @include xs-screen {
    display: none;
  }

  &__item {
    margin-right: 35px;
    transition: opacity 0.35s ease-in-out;

    @include r(768px) {
      margin-right: 15px;
    }

    &:hover {
      opacity: 0.75;
    }

    &.is-active {
      .filter__link {
        font-weight: 700;

        &::before {
          width: 100%;
        }
      }
    }
  }

  &__link {
    position: relative;
    text-transform: uppercase;

    @include r(768px) {
      font-size: 12px;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $color;
    }
  }
}