.portfolio {
  &-grid {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    margin-top: 60px;
  }

  &-item {
    display: block;
    position: relative;
    width: calc(100% / 3 - 78px);
    @include ratio(1, 1);
    margin-bottom: 50px;
    border-radius: 15px;
    overflow: hidden;

    @include r(1024px) {
      width: calc(100% / 4 - 10px);
      margin-bottom: 10px;
    }

    @include r(768px) {
      width: calc(100% / 2 - 10px);
      margin-bottom: 15px;
    }

    @include xs-screen {
      width: 100%;
    }

    img {
      @include img-cover;
      @include coverdiv;
    }
  }
}