.section-steps {
  &__grid {
    margin-top: 60px;

    @include sm-screen {
      margin-top: 50px;
    }
  }

  &__row {
    display: flex;

    @include sm-screen {
      flex-flow: column;
    }

    &--second {
      margin-top: 40px;
      justify-content: flex-end;

      @include sm-screen {
        margin-top: 0;
      }

      .section-steps__item {
        &:first-child {
          margin-right: 87px;

          @include sm-screen {
            margin-right: 0;
          }
        }

        &:last-child {
          margin-right: 8px;

          @include sm-screen {
            margin-right: 0;
          }
        }
      }
    }
  }

  &__item {
    position: relative;
    max-width: max-content;
    padding-left: 54px;
    padding-top: 48px;

    @include sm-screen {
      padding-top: 0;
      padding-left: 0;
      display: flex;
      align-items: center;
      margin-bottom: 40px;
    }

    &:first-child {
      margin-right: 75px;

      @include sm-screen {
        padding-top: 0;
        margin-right: 0;
      }
    }

    &-num {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      font-weight: 900;
      font-size: 83px;
      color: rgba(255, 0, 0, 0.1);

      @include sm-screen {
        position: static;
        font-size: 58px;
        margin-right: 25px;
        line-height: 1;
        height: 100%;
        min-width: 84px;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.2;
      letter-spacing: 0.01em;
    }

    &-text {
      font-size: 15px;
      line-height: 1.2;
      letter-spacing: 0.01em;
    }

    &-content {
      position: relative;
      z-index: 2;
    }
  }
}