.icon-arrow-left {
  width: 1.7em;
  height: 1em;
}
.icon-arrow-right {
  width: 1.7em;
  height: 1em;
}
.icon-chevron-left {
  width: 0.55em;
  height: 1em;
}
.icon-chevron-right {
  width: 0.55em;
  height: 1em;
}
.icon-divider {
  width: 0.05em;
  height: 1em;
}
.icon-logo {
  width: 2.95em;
  height: 1em;
}
