.icon-arrow-left-wide {
  width: 1.88em;
  height: 1em;
}
.icon-arrow-left {
  width: 1em;
  height: 1em;
}
.icon-arrow-long {
  width: 0.14em;
  height: 1em;
}
.icon-cadesign {
  width: 5.29em;
  height: 1em;
}
.icon-chevron-left {
  width: 0.67em;
  height: 1em;
}
.icon-chevron-right {
  width: 0.67em;
  height: 1em;
}
.icon-close {
  width: 1.03em;
  height: 1em;
}
.icon-dots {
  width: 5em;
  height: 1em;
}
.icon-message {
  width: 1.12em;
  height: 1em;
}
