.ui-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px 71px;
  font-size: 16px;
  font-weight: 700;
  transition: opacity 0.35s var(--ease);
  line-height: 1;
  cursor: pointer;

  &:hover {
    opacity: 0.85;
  }
  
  &--yellow {
    background-color: $yellow;
    color: #000;
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
  }

  &--black {
    background-color: #000;
    color: #fff;
  }
}